* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #ffffff;
	text-align: center;
}

a {
	text-decoration: none;
	color: #0366d6;
	background: transparent;
	padding: 8px 16px;
	border-radius: 25px;
	transition: 0.3s ease-in-out;
	border: 2px solid #0366d6;
}

a:hover {
	background: #0366d6;
	color: #ffffff;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #0d1117; /* Fundo escuro estilo GitHub Dark */
	height: 100vh;
	margin: 0;
}

#header {
	background: #161b22; /* Cor de fundo semelhante ao GitHub Dark */
	width: 100%;
	padding: 25px 0;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#links {
	display: flex;
	gap: 20px;
}

#main-content {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #0d1117; /* Fundo escuro estilo GitHub Dark */
	padding: 4rem;
	z-index: -1;
	gap: 25px;
}

#card {
	background-color: #161b22; /* Cor de fundo semelhante ao GitHub Dark */
	height: 250px;
	width: 200px;
	border-radius: 15px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra semelhante ao GitHub */
	transition: 0.3s ease-in-out;
}

#card p {
	font-size: 18px;
}

#card:hover {
	transform: scale(
		1.05
	); /* Efeito de escala ao passar o mouse semelhante ao GitHub */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra aumentada ao passar o mouse semelhante ao GitHub */
}

#about {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	padding-inline: 12rem;
}

p {
	font-size: 20px;
	z-index: 10;
}
